body {
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    opacity: .8;
    padding-bottom: 70px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: -10rem;
}
